html,
body {
  margin: auto;
  width: 100%;
  min-height: 470px;
  min-width: 320px;
  height: 100%;
  overflow: auto;

  font-family: "Arial";
  font-weight: 700;
  color: #ffffff;

  background: radial-gradient(50% 50% at 50% 50%, #15aaff 0%, #adf7f2 100%);
}
